@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");
header {
  background: #262845;
  -webkit-box-shadow: 0 0 24px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 24px rgba(0, 0, 0, 0.15); }

.header_wrap {
  padding: 18px 0;
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  grid-gap: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 1200px) {
    .header_wrap {
      grid-template-columns: 1fr 3fr 1fr; } }
  @media (max-width: 990px) {
    .header_wrap {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      padding: 15px 0;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; } }

.header_logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .header_logo img {
    max-width: 100%;
    height: auto; }

.call_menu {
  display: none; }
  @media (max-width: 990px) {
    .call_menu {
      display: block; } }

.header_mob {
  display: none; }
  @media (max-width: 990px) {
    .header_mob {
      display: block;
      padding: 15px; } }
  .header_mob .header_mob_title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .header_mob .header_mob_panel {
    padding: 15px 0;
    margin-top: 12px;
    margin-bottom: -15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .header_mob .header_mob_panel .call_lang {
      margin-left: 20px; }
    .header_mob .header_mob_panel .search_form {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .header_mob .header_mob_panel .search_form .input_search {
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
        border: none;
        outline: none;
        background: #fff;
        padding: 10px 15px;
        border-radius: 3px 0 0 3px;
        width: 100%;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        font: 400 1rem 'Inter', sans-serif; }
      .header_mob .header_mob_panel .search_form .btn_search {
        height: 100%;
        padding: 12px;
        background: #6CDA75;
        border-radius: 0 3px 3px 0;
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
        outline: none;
        border: none;
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        cursor: pointer;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; }

.select_lang_wrap {
  display: none; }
  @media (max-width: 990px) {
    .select_lang_wrap {
      display: none;
      margin-top: 15px;
      padding: 0 15px; } }
  .select_lang_wrap p {
    font: 400 1.125rem 'Inter', sans-serif;
    color: #fff;
    margin-bottom: 15px; }
  .select_lang_wrap a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 15px;
    color: #fff;
    font: 400 1.125rem 'Inter', sans-serif; }
    .select_lang_wrap a img {
      margin-right: 15px; }
  .select_lang_wrap a:last-child {
    margin: 0; }

@media (max-width: 990px) {
  .header_nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9999;
    background: #262845;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; } }

.header_nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 990px) {
    .header_nav ul {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start;
      padding: 0 15px; } }
  .header_nav ul li {
    position: relative;
    margin: 0 10px; }
    @media (max-width: 990px) {
      .header_nav ul li {
        margin: 0;
        padding: 15px 0;
        width: 100%;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        border-bottom: 1px dashed rgba(255, 255, 255, 0.2); } }
    .header_nav ul li:hover .sub_menu {
      opacity: 1;
      pointer-events: auto; }
    .header_nav ul li:hover a {
      color: #FFCF24; }
    .header_nav ul li:hover .arrow_mob {
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg);
      bottom: -5px; }
      @media (max-width: 990px) {
        .header_nav ul li:hover .arrow_mob {
          bottom: auto;
          -webkit-transform: none;
              -ms-transform: none;
                  transform: none; } }
    .header_nav ul li a {
      color: #fff;
      -webkit-transition: .2s;
      -o-transition: .2s;
      transition: .2s;
      font: 400 1rem 'Inter', sans-serif; }
      @media (max-width: 990px) {
        .header_nav ul li a {
          font: 400 1.125rem 'Inter', sans-serif; } }
    .header_nav ul li .sub_menu {
      position: absolute;
      top: 175%;
      opacity: 1;
      z-index: 99;
      left: -5px;
      padding: 5px 0;
      background: #42456B;
      -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
              box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
      border-radius: 3px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-transition: .2s;
      -o-transition: .2s;
      transition: .2s;
      pointer-events: none;
      opacity: 0; }
      @media (max-width: 990px) {
        .header_nav ul li .sub_menu {
          position: relative;
          top: auto;
          left: 0;
          padding: 0;
          background: transparent;
          -webkit-box-shadow: none;
                  box-shadow: none;
          border-radius: 0;
          opacity: 1;
          pointer-events: auto;
          width: 100%;
          display: none;
          -webkit-transition: auto;
          -o-transition: auto;
          transition: auto;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box; } }
      .header_nav ul li .sub_menu::after {
        content: '';
        height: 30px;
        position: absolute;
        width: 100%;
        top: -20px;
        display: block; }
        @media (max-width: 990px) {
          .header_nav ul li .sub_menu::after {
            display: none; } }
      .header_nav ul li .sub_menu li {
        padding: 10px 15px;
        margin: 0;
        width: 150px;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        position: static; }
        @media (max-width: 990px) {
          .header_nav ul li .sub_menu li {
            width: 100%;
            padding: 10px 0;
            border: none;
            position: relative; } }
        .header_nav ul li .sub_menu li:hover {
          background: rgba(255, 255, 255, 0.15); }
          @media (max-width: 990px) {
            .header_nav ul li .sub_menu li:hover {
              background: transparent; } }
          .header_nav ul li .sub_menu li:hover a {
            color: #FFCF24; }
          .header_nav ul li .sub_menu li:hover .sub_menu_2 {
            pointer-events: auto;
            opacity: 1; }
        .header_nav ul li .sub_menu li .arrow_mob {
          display: none; }
          @media (max-width: 990px) {
            .header_nav ul li .sub_menu li .arrow_mob {
              display: -webkit-box;
              display: -webkit-flex;
              display: -ms-flexbox;
              display: flex; } }
        .header_nav ul li .sub_menu li a {
          white-space: nowrap;
          color: #fff;
          display: block; }
        .header_nav ul li .sub_menu li .arrow_link {
          position: relative;
          display: block; }
          @media (max-width: 990px) {
            .header_nav ul li .sub_menu li .arrow_link {
              display: inline-block;
              position: static; } }
          .header_nav ul li .sub_menu li .arrow_link::after {
            position: absolute;
            right: 0;
            -webkit-transform: rotate(-90deg);
                -ms-transform: rotate(-90deg);
                    transform: rotate(-90deg);
            content: url(../img/header/arrows.svg); }
            @media (max-width: 990px) {
              .header_nav ul li .sub_menu li .arrow_link::after {
                display: none; } }
        .header_nav ul li .sub_menu li .sub_menu_2 {
          position: absolute;
          top: 0;
          opacity: 1;
          z-index: 99;
          left: 99%;
          padding: 5px 0;
          background: #42456B;
          border-radius: 0 3px 3px 0;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-transition: .2s;
          -o-transition: .2s;
          transition: .2s;
          height: 100%;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          display: flex;
          flex-direction: column;
          -webkit-box-pack: start;
          -webkit-justify-content: flex-start;
              -ms-flex-pack: start;
                  justify-content: flex-start;
          opacity: 0;
          pointer-events: none; }
          @media (max-width: 990px) {
            .header_nav ul li .sub_menu li .sub_menu_2 {
              position: relative;
              top: auto;
              left: 0;
              padding: 0;
              background: transparent;
              -webkit-box-shadow: none;
                      box-shadow: none;
              border-radius: 0;
              opacity: 1;
              pointer-events: auto;
              width: 100%;
              display: none;
              -webkit-transition: auto;
              -o-transition: auto;
              transition: auto;
              -webkit-box-sizing: border-box;
                      box-sizing: border-box; } }
          .header_nav ul li .sub_menu li .sub_menu_2::before {
            content: '';
            height: 95%;
            top: 5px;
            width: 1px;
            position: absolute;
            left: 0;
            background: rgba(255, 255, 255, 0.2); }
            @media (max-width: 990px) {
              .header_nav ul li .sub_menu li .sub_menu_2::before {
                display: none; } }
          .header_nav ul li .sub_menu li .sub_menu_2 li:hover {
            background: rgba(255, 255, 255, 0.15); }
            @media (max-width: 990px) {
              .header_nav ul li .sub_menu li .sub_menu_2 li:hover {
                background: transparent; } }
            .header_nav ul li .sub_menu li .sub_menu_2 li:hover a {
              color: #FFCF24; }
          .header_nav ul li .sub_menu li .sub_menu_2 li a {
            color: #fff; }
      @media (max-width: 990px) {
        .header_nav ul li .sub_menu li:first-child {
          padding-top: 15px; } }
      @media (max-width: 990px) {
        .header_nav ul li .sub_menu li:last-child {
          padding-bottom: 0; } }
    .header_nav ul li .arrow_mob {
      position: absolute;
      display: block;
      right: -20px;
      top: 0;
      pointer-events: none;
      -webkit-transition: .2s;
      -o-transition: .2s;
      transition: .2s; }
      @media (max-width: 990px) {
        .header_nav ul li .arrow_mob {
          right: -4px;
          top: 13px;
          height: 25px;
          width: 25px;
          pointer-events: auto;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center; } }
      .header_nav ul li .arrow_mob::before {
        content: url(../img/header/arrows.svg); }
    .header_nav ul li .arr_active::before {
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg);
      top: 5px;
      position: relative; }
  @media (max-width: 990px) {
    .header_nav ul li:last-child {
      border: none; } }

.header_nav_active {
  opacity: 1;
  pointer-events: auto; }

.header_panel {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  @media (max-width: 990px) {
    .header_panel {
      display: none; } }
  .header_panel .search_box {
    position: relative; }
    .header_panel .search_box .search_form {
      position: absolute;
      top: 140%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      right: 0;
      border-radius: 3px;
      overflow: hidden;
      background: transparent;
      -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
              box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
      opacity: 0;
      z-index: 99;
      -webkit-transition: .2s;
      -o-transition: .2s;
      transition: .2s;
      pointer-events: none; }
      .header_panel .search_box .search_form::before {
        content: '';
        height: 30px;
        position: absolute;
        width: 100%;
        top: -20px;
        display: block; }
      .header_panel .search_box .search_form .input_search {
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
        border: none;
        outline: none;
        background: #fff;
        padding: 10px 15px;
        border-radius: 3px 0 0 3px;
        width: 180px;
        font: 400 1rem 'Inter', sans-serif; }
      .header_panel .search_box .search_form .btn_search {
        height: 100%;
        padding: 12px;
        background: #6CDA75;
        border-radius: 0 3px 3px 0;
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
        outline: none;
        border: none;
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        cursor: pointer;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; }
    .header_panel .search_box .search_form_active {
      opacity: 1;
      pointer-events: auto; }
    .header_panel .search_box .search_call {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      cursor: pointer; }
  .header_panel .lang_box {
    margin-left: 20px;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative; }
    .header_panel .lang_box:hover .hide_lang {
      opacity: 1;
      pointer-events: auto; }
    .header_panel .lang_box .hide_lang {
      position: absolute;
      top: 140%;
      right: 0;
      opacity: 1;
      padding: 5px 0;
      -webkit-transition: .2s;
      -o-transition: .2s;
      transition: .2s;
      pointer-events: none;
      opacity: 0;
      z-index: 99;
      background: #42456B;
      -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
              box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
      border-radius: 3px; }
      .header_panel .lang_box .hide_lang::after {
        content: '';
        height: 20px;
        width: 100%;
        position: absolute;
        top: -20px;
        left: 0; }
      .header_panel .lang_box .hide_lang .hide_lang_item {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        width: 140px;
        padding: 10px;
        -webkit-transition: .2s;
        -o-transition: .2s;
        transition: .2s; }
        .header_panel .lang_box .hide_lang .hide_lang_item:hover {
          background: rgba(255, 255, 255, 0.15); }
          .header_panel .lang_box .hide_lang .hide_lang_item:hover p {
            color: #FFCF24; }
        .header_panel .lang_box .hide_lang .hide_lang_item img {
          margin-right: 10px; }
        .header_panel .lang_box .hide_lang .hide_lang_item p {
          white-space: nowrap;
          color: #fff;
          font: 400 1rem 'Inter', sans-serif; }

.home_section {
  background: #292c98; }
  .home_section .container {
    padding: 60px 0; }
    @media (max-width: 990px) {
      .home_section .container {
        padding: 25px 0; } }
  .home_section .home_section_wrap {
    display: grid;
    grid-template-columns: 750px 1fr; }
    @media (max-width: 990px) {
      .home_section .home_section_wrap {
        display: block; } }
    .home_section .home_section_wrap .info_title {
      margin-bottom: 8px;
      color: #fff;
      font: 700 2rem 'Inter', sans-serif; }
      @media (max-width: 990px) {
        .home_section .home_section_wrap .info_title {
          font: 700 1.4rem 'Inter', sans-serif; } }
    .home_section .home_section_wrap .info_title_sm {
      margin-bottom: 8px;
      color: #fff;
      font: 700 1.5rem 'Inter', sans-serif; }
      @media (max-width: 990px) {
        .home_section .home_section_wrap .info_title_sm {
          text-align: center;
          font: 700 1.2rem 'Inter', sans-serif; } }
    .home_section .home_section_wrap .info_text {
      font: 400 .95rem/24px 'Inter', sans-serif;
      opacity: .9;
      color: #fff;
      margin-bottom: 35px; }
      @media (max-width: 990px) {
        .home_section .home_section_wrap .info_text {
          font: 400 .87rem/21px 'Inter', sans-serif;
          margin-bottom: 15px; } }
      @media (max-width: 990px) {
        .home_section .home_section_wrap .info_text br {
          display: none; } }
    .home_section .home_section_wrap .info_text:last-child {
      margin: 0; }
    @media (max-width: 576px) {
      .home_section .home_section_wrap .hide_text {
        height: 100px;
        width: 230px;
        overflow-y: hidden; } }
    .home_section .home_section_wrap .hide_text_active {
      height: auto; }
    .home_section .home_section_wrap .show_more {
      display: none; }
      @media (max-width: 576px) {
        .home_section .home_section_wrap .show_more {
          display: block;
          color: #55B56B;
          font: 400 .87rem 'Inter', sans-serif;
          opacity: .9;
          margin: 5px 0 10px 0; } }
      .home_section .home_section_wrap .show_more::after {
        position: relative;
        left: 5px;
        content: url(../img/home/arr_show.svg); }

.games {
  position: relative;
  top: -35px;
  margin-bottom: -10px; }
  @media (max-width: 990px) {
    .games {
      top: -15px;
      margin-bottom: 10px; } }
  .games .games_wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-bottom: 15px; }
    @media (max-width: 990px) {
      .games .games_wrap {
        grid-template-columns: 1fr 1fr 1fr; } }
    .games .games_wrap .games_box {
      height: 120px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      background: #FFF;
      -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
              box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
      border-radius: 5px;
      padding: 5px; }
      @media (max-width: 990px) {
        .games .games_wrap .games_box {
          height: 102px;
          padding: 10px 5px; } }
      .games .games_wrap .games_box img {
        max-width: 100%;
        height: auto;
        min-height: 60px;
        margin-bottom: 10px; }
        @media (max-width: 990px) {
          .games .games_wrap .games_box img {
            max-width: 60px;
            min-height: 70px; } }
      .games .games_wrap .games_box .games_info {
        text-align: center;
        font: 400 .87rem 'Inter', sans-serif; }
        @media (max-width: 990px) {
          .games .games_wrap .games_box .games_info {
            white-space: nowrap;
            font: 400 .75rem 'Inter', sans-serif; } }
  .games .games_text {
    font: 400 .95rem/22px 'Inter', sans-serif; }
    @media (max-width: 990px) {
      .games .games_text {
        font: 400 .87rem/20px 'Inter', sans-serif; } }

.generate_casino {
  margin-bottom: 45px; }
  .generate_casino .generate_casino_title {
    font: 700 1.5rem 'Inter', sans-serif;
    text-align: center;
    margin-bottom: 5px; }
    @media (max-width: 990px) {
      .generate_casino .generate_casino_title {
        font: 700 1.25rem 'Inter', sans-serif; } }
  .generate_casino .generate_casino_text {
    text-align: center;
    max-width: 720px;
    margin: 0 auto;
    margin-bottom: 15px;
    font: 400 .95rem/22px 'Inter', sans-serif; }
    @media (max-width: 990px) {
      .generate_casino .generate_casino_text {
        font: 400 .87rem/20px 'Inter', sans-serif; } }
  .generate_casino .tabs__caption {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px; }
    @media (max-width: 768px) {
      .generate_casino .tabs__caption {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 5px;
        margin-bottom: 15px; } }
    .generate_casino .tabs__caption li {
      color: #000000;
      opacity: .7;
      font: 400 1.2rem 'Inter', sans-serif;
      padding: 8px 12px;
      cursor: pointer;
      text-align: center;
      margin: 0 15px; }
      @media (max-width: 768px) {
        .generate_casino .tabs__caption li {
          margin: 0;
          font: 400 1rem 'Inter', sans-serif; } }
    .generate_casino .tabs__caption .active {
      color: #4482CD;
      background: #ECF1FF;
      border-radius: 3px; }
  .generate_casino .swiper-container {
    padding-bottom: 10px; }
    @media (max-width: 990px) {
      .generate_casino .swiper-container {
        padding: 0 10px 30px 10px; } }
    .generate_casino .swiper-container .generate_casino_box {
      max-width: 140px;
      margin: 0 auto; }
      @media (max-width: 1200px) {
        .generate_casino .swiper-container .generate_casino_box {
          max-width: auto; } }
  .generate_casino .swiper-button-next:after,
  .generate_casino .swiper-button-prev:after {
    display: none; }
  .generate_casino .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    outline: none; }
  .generate_casino .swiper-button-next {
    right: 5px; }
  .generate_casino .swiper-button-prev {
    left: 5px; }
  .generate_casino .swiper-button-next,
  .generate_casino .swiper-button-prev {
    height: 33px;
    width: 33px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #fff;
    opacity: 1;
    -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 3px; }
    @media (max-width: 990px) {
      .generate_casino .swiper-button-next,
      .generate_casino .swiper-button-prev {
        opacity: 0; } }
  .generate_casino .swiper-pagination {
    opacity: 0;
    bottom: 0; }
    @media (max-width: 990px) {
      .generate_casino .swiper-pagination {
        opacity: 1;
        bottom: -2px;
        z-index: 999; } }
  .generate_casino .generate_casino_wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px; }
    @media (max-width: 1200px) {
      .generate_casino .generate_casino_wrap {
        padding-bottom: 10px;
        overflow-y: scroll;
        grid-template-columns: 180px 180px 180px 180px 180px 180px; } }
  .generate_casino .generate_casino_box {
    padding: 10px 15px;
    background: #FFF;
    -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px; }
    .generate_casino .generate_casino_box .generate_casino_img {
      background: #1085D3;
      border-radius: 5px;
      padding: 20px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-bottom: 10px; }
      .generate_casino .generate_casino_box .generate_casino_img img {
        -o-object-fit: contain;
           object-fit: contain;
        max-width: 100%;
        height: auto; }
    .generate_casino .generate_casino_box .generate_brend_img {
      background: #1085D3;
      border-radius: 5px;
      padding: 20px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      height: 85px;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-bottom: 10px; }
      .generate_casino .generate_casino_box .generate_brend_img img {
        -o-object-fit: contain;
           object-fit: contain;
        max-width: 100%;
        height: auto; }
    .generate_casino .generate_casino_box .generate_casino_title {
      font: 400 .95rem 'Inter', sans-serif;
      margin-bottom: 5px; }
    .generate_casino .generate_casino_box .generate_casino_bonus {
      color: #6CDA75;
      text-align: center;
      margin-bottom: 7px;
      font: 700 .87rem/20px 'Inter', sans-serif; }
    .generate_casino .generate_casino_box .generate_casino_info {
      color: #000;
      opacity: .5;
      cursor: pointer;
      text-align: center;
      font: 400 .75rem 'Inter', sans-serif;
      text-align: center;
      margin: 0 auto;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .generate_casino .generate_casino_box .generate_casino_info:hover {
        color: #0185FF; }
    .generate_casino .generate_casino_box .generate_casino_btn {
      text-transform: uppercase;
      background: #4482CD;
      border-radius: 3px;
      padding: 10px;
      width: 100%;
      display: block;
      color: #fff;
      font: 700 1rem "Inter", sans-serif;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      text-align: center;
      margin-bottom: 5px;
      -webkit-transition: .2s;
      -o-transition: .2s;
      transition: .2s; }
      .generate_casino .generate_casino_box .generate_casino_btn:hover {
        background: #396EAF; }

.find {
  background: #F0F3FC;
  margin-bottom: 35px; }
  @media (max-width: 990px) {
    .find {
      margin-bottom: 30px; } }
  .find .container {
    padding: 30px 0; }
    @media (max-width: 990px) {
      .find .container {
        padding: 20px 0; } }
  .find .find_wrap {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-gap: 40px;
    padding: 0 50px; }
    @media (max-width: 990px) {
      .find .find_wrap {
        display: block;
        padding: 0; } }
  .find .find_box .find_title {
    margin-bottom: 5px;
    font: 700 1.25rem 'Inter', sans-serif; }
    @media (max-width: 990px) {
      .find .find_box .find_title {
        text-align: center; } }
  .find .find_box .find_text {
    font: 400 .95rem/22px 'Inter', sans-serif;
    margin-bottom: 20px;
    max-width: 80%; }
    @media (max-width: 990px) {
      .find .find_box .find_text {
        text-align: center;
        margin-bottom: 15px;
        font: 400 .87rem/21px 'Inter', sans-serif;
        max-width: 100%; } }
  .find .find_form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 25px;
    -webkit-box-align: end;
    -webkit-align-items: end;
        -ms-flex-align: end;
            align-items: end; }
    @media (max-width: 990px) {
      .find .find_form {
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px; } }
    @media (max-width: 576px) {
      .find .find_form {
        grid-template-columns: 1fr; } }
    .find .find_form .form_select_box p {
      display: block;
      margin-bottom: 10px;
      font: 700 1rem 'Inter', sans-serif; }
    .find .find_form .form_select_box .form_select {
      position: relative; }
      .find .find_form .form_select_box .form_select::before {
        content: url(../img/home/select_arr.svg);
        position: absolute;
        pointer-events: none;
        right: 20px;
        top: 12px; }
        @media (max-width: 990px) {
          .find .find_form .form_select_box .form_select::before {
            top: 13px; } }
      .find .find_form .form_select_box .form_select select {
        font: 400 1rem 'Inter', sans-serif;
        background: #E7EAF2;
        border-radius: 3px;
        border: none;
        outline: none;
        padding: 15px;
        width: 100%;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none; }
    .find .find_form .form_send {
      cursor: pointer;
      padding: 15px;
      width: 100%;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      background: #6CDA75;
      border-radius: 3px;
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
      border: none;
      color: #fff;
      text-transform: uppercase;
      font: 700 1rem 'Inter', sans-serif;
      text-align: center;
      outline: none; }
  .find .find_img {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 190px; }
    @media (max-width: 990px) {
      .find .find_img {
        display: none; } }

.latest_news {
  margin-bottom: 25px; }
  .latest_news .latest_news_title {
    margin-bottom: 25px;
    font: 700 1.5rem 'Inter', sans-serif; }
    @media (max-width: 990px) {
      .latest_news .latest_news_title {
        font: 700 1.2rem 'Inter', sans-serif; } }
  .latest_news .latest_news_wrap {
    display: grid;
    grid-template-columns: 540px 1fr;
    grid-gap: 15px; }
    @media (max-width: 1400px) {
      .latest_news .latest_news_wrap {
        grid-template-columns: 440px 1fr; } }
    @media (max-width: 990px) {
      .latest_news .latest_news_wrap {
        grid-template-columns: 1fr; } }
    .latest_news .latest_news_wrap .latest_xl_news {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      .latest_news .latest_news_wrap .latest_xl_news .xl_news_box {
        background: -o-linear-gradient(346.68deg, #3A3D6B 23.43%, #4D53A2 75.98%);
        background: linear-gradient(103.32deg, #3A3D6B 23.43%, #4D53A2 75.98%);
        border-radius: 10px;
        padding: 20px; }
      .latest_news .latest_news_wrap .latest_xl_news .xl_news_img {
        display: block;
        position: relative;
        margin-bottom: -30px;
        max-width: 100%;
        height: auto;
        top: -30px; }
        @media (max-width: 990px) {
          .latest_news .latest_news_wrap .latest_xl_news .xl_news_img {
            max-height: 200px; } }
      .latest_news .latest_news_wrap .latest_xl_news .xl_news_title {
        color: #fff;
        font: 700 1.25rem 'Inter', sans-serif;
        margin-bottom: 5px;
        display: block;
        text-align: left;
        max-width: 80%; }
        @media (max-width: 990px) {
          .latest_news .latest_news_wrap .latest_xl_news .xl_news_title {
            max-width: 100%;
            font: 700 1.125rem 'Inter', sans-serif; } }
        .latest_news .latest_news_wrap .latest_xl_news .xl_news_title:hover {
          color: #FFCF24; }
      .latest_news .latest_news_wrap .latest_xl_news .xl_news_text {
        color: #fff;
        max-width: 80%;
        font: 400 .95rem/22px 'Inter', sans-serif; }
        @media (max-width: 990px) {
          .latest_news .latest_news_wrap .latest_xl_news .xl_news_text {
            max-width: 100%;
            font: 400 .8rem/18px 'Inter', sans-serif; } }
    .latest_news .latest_news_wrap .latest_sm_news {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-gap: 15px; }
      @media (max-width: 990px) {
        .latest_news .latest_news_wrap .latest_sm_news {
          overflow-y: scroll;
          grid-template-columns: 250px 250px 250px 250px;
          grid-template-rows: auto;
          padding-bottom: 10px; } }
      .latest_news .latest_news_wrap .latest_sm_news .sm_news_box {
        position: relative;
        border-radius: 10px;
        overflow: hidden;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 15px; }
        @media (max-width: 990px) {
          .latest_news .latest_news_wrap .latest_sm_news .sm_news_box {
            height: 140px; } }
        .latest_news .latest_news_wrap .latest_sm_news .sm_news_box p,
        .latest_news .latest_news_wrap .latest_sm_news .sm_news_box a {
          position: relative;
          z-index: 9; }
        .latest_news .latest_news_wrap .latest_sm_news .sm_news_box .sm_news_title {
          color: #fff;
          margin-bottom: 5px;
          -webkit-transition: .2s;
          -o-transition: .2s;
          transition: .2s;
          font: 700 1.2rem 'Inter', sans-serif; }
          @media (max-width: 990px) {
            .latest_news .latest_news_wrap .latest_sm_news .sm_news_box .sm_news_title {
              font: 700 1.125rem 'Inter', sans-serif; } }
          .latest_news .latest_news_wrap .latest_sm_news .sm_news_box .sm_news_title:hover {
            color: #FFCF24; }
        .latest_news .latest_news_wrap .latest_sm_news .sm_news_box .sm_news_text {
          color: #fff;
          font: 400 .95rem/22px 'Inter', sans-serif; }
          @media (max-width: 990px) {
            .latest_news .latest_news_wrap .latest_sm_news .sm_news_box .sm_news_text {
              font: 400 .8rem/18px 'Inter', sans-serif; } }

.about {
  background: url(../img/home/about_bg.svg) no-repeat center center/cover;
  background-color: #262845;
  margin-bottom: 25px; }
  .about .container {
    padding: 35px 0; }
    @media (max-width: 990px) {
      .about .container {
        padding: 25px 0; } }
  .about .about_title {
    color: #fff;
    margin-bottom: 25px;
    font: 700 1.5rem 'Inter', sans-serif; }
    @media (max-width: 990px) {
      .about .about_title {
        font: 700 1.2rem 'Inter', sans-serif; } }
  .about .about_wrap {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    -webkit-box-align: start;
    -webkit-align-items: start;
        -ms-flex-align: start;
            align-items: start; }
    @media (max-width: 990px) {
      .about .about_wrap {
        grid-gap: 15px; } }
    .about .about_wrap .about_box {
      display: grid;
      grid-template-columns: 230px 1fr;
      grid-gap: 30px; }
      @media (max-width: 990px) {
        .about .about_wrap .about_box {
          grid-template-columns: 1fr;
          grid-gap: 10px; } }
      .about .about_wrap .about_box .about_title_sm {
        font: 700 1.2rem 'Inter', sans-serif;
        color: #fff;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        position: relative;
        top: -8px; }
        @media (max-width: 990px) {
          .about .about_wrap .about_box .about_title_sm {
            top: 0;
            font: 700 1.125rem 'Inter', sans-serif; } }
        .about .about_wrap .about_box .about_title_sm span {
          margin-right: 20px;
          height: 32px;
          background: #42456B;
          border-radius: 2px;
          width: 32px;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center; }
          @media (max-width: 990px) {
            .about .about_wrap .about_box .about_title_sm span {
              margin-right: 15px; } }
          .about .about_wrap .about_box .about_title_sm span img {
            max-width: 100%;
            height: auto; }
      .about .about_wrap .about_box .about_text {
        color: #fff;
        font: 400 .95rem/23px 'Inter', sans-serif; }
        @media (max-width: 990px) {
          .about .about_wrap .about_box .about_text {
            font: 400 .87rem/20px 'Inter', sans-serif; } }

.description {
  margin-bottom: 15px; }
  .description .description_title {
    margin-bottom: 5px;
    font: 700 1.5rem 'Inter', sans-serif; }
    @media (max-width: 990px) {
      .description .description_title {
        font: 700 1.4rem 'Inter', sans-serif; } }
  .description .description_title_sm {
    margin-bottom: 5px;
    font: 700 1.2rem 'Inter', sans-serif;
    padding-left: 30px;
    position: relative; }
    @media (max-width: 990px) {
      .description .description_title_sm {
        font: 700 1.125rem 'Inter', sans-serif; } }
    .description .description_title_sm::after {
      content: url(../img/home/check.svg);
      position: absolute;
      left: 0;
      height: 21px;
      width: 21px; }
  .description .description_text {
    font: 400 .95rem/22px 'Inter', sans-serif;
    margin-bottom: 15px; }
    @media (max-width: 990px) {
      .description .description_text {
        font: 400 .87rem/20px 'Inter', sans-serif;
        margin-bottom: 10px; } }

.faq {
  margin-bottom: 25px; }
  .faq .faq_title {
    text-align: center;
    margin-bottom: 15px;
    font: 700 1.2rem 'Inter', sans-serif; }
  .faq .faq_wrap {
    padding: 5px 20px 5px 20px;
    background: #FFF;
    -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px; }
    @media (max-width: 990px) {
      .faq .faq_wrap {
        padding: 5px 15px 5px 15px; } }
    .faq .faq_wrap .acc_box {
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      outline: none;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none; }
    .faq .faq_wrap .acc_box:last-child {
      border: none;
      padding: 0; }
      .faq .faq_wrap .acc_box:last-child .acc_body {
        padding-bottom: 0; }
  .faq .active_acc .acc_head img {
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg); }
  .faq .acc_head {
    padding: 15px 0;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 990px) {
      .faq .acc_head {
        padding: 10px 0; } }
    .faq .acc_head p {
      font: 700 1.2rem 'Inter', sans-serif; }
      @media (max-width: 990px) {
        .faq .acc_head p {
          font: 700 1.125rem 'Inter', sans-serif; } }
    .faq .acc_head img {
      -webkit-transition: .1s;
      -o-transition: .1s;
      transition: .1s; }
  .faq .acc_body {
    display: none;
    padding-bottom: 10px; }
    .faq .acc_body p {
      font: 400 .95rem/22px 'Inter', sans-serif; }
      @media (max-width: 990px) {
        .faq .acc_body p {
          font: 400 .87rem/20px 'Inter', sans-serif; } }

footer {
  background: #262845; }
  footer .container {
    padding: 25px 0; }

.footer_wrap {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-gap: 35px;
  margin-bottom: 20px; }
  @media (max-width: 1280px) {
    .footer_wrap {
      grid-gap: 15px;
      margin-bottom: 25px;
      grid-template-columns: 4fr 2fr; } }
  @media (max-width: 990px) {
    .footer_wrap {
      grid-template-columns: 1fr; } }

.footer_left .footer_nav {
  margin-bottom: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 768px) {
    .footer_left .footer_nav {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start;
      margin-bottom: 5px; } }
  .footer_left .footer_nav li a {
    color: #fff;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    font: 1.2rem 'Inter', sans-serif;
    margin-right: 5px; }
    @media (max-width: 1280px) {
      .footer_left .footer_nav li a {
        font: 1.1rem 'Inter', sans-serif; } }
    @media (max-width: 768px) {
      .footer_left .footer_nav li a {
        margin-bottom: 15px;
        font: 1.125rem 'Inter', sans-serif;
        display: block; } }
    .footer_left .footer_nav li a:hover {
      color: #FFCF24; }

.footer_left .footer_partner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.2); }
  @media (max-width: 990px) {
    .footer_left .footer_partner {
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  @media (max-width: 768px) {
    .footer_left .footer_partner {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      grid-gap: 10px; } }
  .footer_left .footer_partner img {
    max-width: 100%;
    height: auto;
    -o-object-fit: contain;
       object-fit: contain;
    margin: 0 30px 0 0; }
    @media (max-width: 990px) {
      .footer_left .footer_partner img {
        margin: 0 15px 0 0; } }
    @media (max-width: 768px) {
      .footer_left .footer_partner img {
        max-width: 100%;
        display: block;
        height: auto;
        margin: 0 auto; } }
  @media (max-width: 990px) {
    .footer_left .footer_partner img:last-child {
      margin: 0; } }
  @media (max-width: 768px) {
    .footer_left .footer_partner img:last-child {
      margin: 0 auto; } }

.footer_right {
  padding: 15px;
  background: #42456B;
  -webkit-box-shadow: 0 -4px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0 -4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 990px) {
    .footer_right {
      display: none; } }
  .footer_right .footer_title {
    text-align: center;
    color: #FFF;
    opacity: .6;
    margin-bottom: 15px;
    font: 400 1rem 'Inter', sans-serif; }
  .footer_right .footer_right_wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .footer_right .footer_right_wrap .footer_right_box {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      cursor: pointer;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .footer_right .footer_right_wrap .footer_right_box:hover p {
        color: #55B56B; }
      .footer_right .footer_right_wrap .footer_right_box .num {
        -webkit-transition: .2s;
        -o-transition: .2s;
        transition: .2s;
        text-align: center;
        font: bold 2.5rem 'Inter', sans-serif;
        color: #fff;
        text-transform: capitalize; }
        @media (max-width: 1280px) {
          .footer_right .footer_right_wrap .footer_right_box .num {
            font: bold 1.5rem 'Inter', sans-serif; } }
      .footer_right .footer_right_wrap .footer_right_box .text {
        -webkit-transition: .2s;
        -o-transition: .2s;
        transition: .2s;
        text-align: center;
        color: #fff;
        font: 400 .95rem 'Inter', sans-serif; }

.footer_bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 990px) {
    .footer_bottom {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start; } }
  .footer_bottom img {
    max-width: 100%;
    height: auto;
    -o-object-fit: contain;
       object-fit: contain;
    margin-right: 20px; }
    @media (max-width: 990px) {
      .footer_bottom img {
        margin: 0 0 15px 0; } }
  .footer_bottom .footer_text {
    font: 400 .9rem/20px 'Inter', sans-serif;
    color: rgba(255, 255, 255, 0.5); }
    .footer_bottom .footer_text a {
      color: #fff;
      margin: 0 3px;
      text-decoration: underline; }
      @media (max-width: 768px) {
        .footer_bottom .footer_text a {
          margin: 5px 8px 0 0;
          display: inline-block; } }

html,
body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  background: #f8f9fc;
  font-family: 'Inter', sans-serif; }

.container {
  max-width: 1280px;
  margin: 0 auto; }

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0; }

button {
  outline: none; }

.tabs__content {
  display: none; }

.tabs__content.active {
  display: block; }

.padding {
  padding: 0 70px; }
  @media (max-width: 1280px) {
    .padding {
      padding: 0 30px; } }
  @media (max-width: 990px) {
    .padding {
      padding: 0 15px; } }

.padding_mob {
  padding: 0 70px; }
  @media (max-width: 1280px) {
    .padding_mob {
      padding: 0 45px; } }
  @media (max-width: 990px) {
    .padding_mob {
      padding: 0 15px; } }
  @media (max-width: 576px) {
    .padding_mob {
      padding: 0; } }

.padding_sm {
  padding: 0 70px; }
  @media (max-width: 1280px) {
    .padding_sm {
      padding: 0 45px; } }
  @media (max-width: 990px) {
    .padding_sm {
      padding: 0 15px; } }
  @media (max-width: 576px) {
    .padding_sm {
      padding: 0 10px; } }

.margin {
  margin-bottom: 60px; }
  @media (max-width: 990px) {
    .margin {
      margin-bottom: 35px; } }

main {
  min-height: -webkit-calc(100vh - 80px);
  min-height: calc(100vh - 80px); }

a {
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }
