.home_section {
    background: #292c98;
    .container {
        padding: 60px 0;
        @media (max-width: 990px) {
            padding: 25px 0;
        }
    }
    .home_section_wrap {
        display: grid;
        grid-template-columns: 750px 1fr;
        @media (max-width: 990px) {
            display: block;
        }
        .info_title {
            margin-bottom: 8px;
            color: #fff;
            font: 700 2rem 'Inter', sans-serif;
            @media (max-width: 990px) {
                font: 700 1.4rem 'Inter', sans-serif;
            }
        }
        .info_title_sm {
            margin-bottom: 8px;
            color: #fff;
            font: 700 1.5rem 'Inter', sans-serif;
            @media (max-width: 990px) {
                text-align: center;
                font: 700 1.2rem 'Inter', sans-serif;
            }
        }
        .info_text {
            font: 400 .95rem/24px 'Inter', sans-serif;
            opacity: .9;
            color: #fff;
            margin-bottom: 35px;
            @media (max-width: 990px) {
                font: 400 .87rem/21px 'Inter', sans-serif;
                margin-bottom: 15px;
            }
            br {
                @media (max-width: 990px) {
                    display: none;
                }
            }
        }
        .info_text:last-child {
            margin: 0;
        }
        .hide_text {
            @media (max-width: 576px) {
                height: 100px;
                width: 230px;
                overflow-y: hidden;
            }
        }
        .hide_text_active {
            height: auto;
        }
        .show_more {
            display: none;
            @media (max-width: 576px) {
                display: block;
                color: #55B56B;
                font: 400 .87rem 'Inter', sans-serif;
                opacity: .9;
                margin: 5px 0 10px 0;
            }
            &::after {
                position: relative;
                left: 5px;
                content: url(../img/home/arr_show.svg);
            }
        }
    }
}

.games {
    position: relative;
    top: -35px;
    margin-bottom: -10px;
    @media (max-width: 990px) {
        top: -15px;
        margin-bottom: 0;
    }
    .games_wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        margin-bottom: 15px;
        @media (max-width: 990px) {
            grid-template-columns: 1fr 1fr 1fr;
        }
        .games_box {
            height: 120px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background: #FFF;
            box-shadow: 0 4px 15px rgba(0, 0, 0, .15);
            border-radius: 5px;
            padding: 5px;
            @media (max-width: 990px) {
                height: 102px;
                padding: 10px 5px;
            }
            img {
                max-width: 100%;
                height: auto;
                min-height: 60px;
                margin-bottom: 10px;
                @media (max-width: 990px) {
                    max-width: 60px;
                    min-height: 70px;
                }
            }
            .games_info {
                text-align: center;
                font: 400 .87rem 'Inter', sans-serif;
                @media (max-width: 990px) {
                    white-space: nowrap;
                    font: 400 .75rem 'Inter', sans-serif;
                }
            }
        }
    }
    .games_text {
        font: 400 .95rem/22px 'Inter', sans-serif;
        @media (max-width: 990px) {
            font: 400 .87rem/20px 'Inter', sans-serif;
        }
    }
}

.find {
    background: #F0F3FC;
    margin-bottom: 35px;
    @media (max-width: 990px) {
        margin-bottom: 30px;
    }
    .container {
        padding: 30px 0;
        @media (max-width: 990px) {
            padding: 20px 0;
        }
    }
    .find_wrap {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-gap: 40px;
        padding: 0 50px;
        @media (max-width: 990px) {
            display: block;
            padding: 0;
        }
    }
    .find_box {
        .find_title {
            margin-bottom: 5px;
            font: 700 1.25rem 'Inter', sans-serif;
            @media (max-width: 990px) {
                text-align: center;
            }
        }
        .find_text {
            font: 400 .95rem/22px 'Inter', sans-serif;
            margin-bottom: 20px;
            max-width: 80%;
            @media (max-width: 990px) {
                text-align: center;
                margin-bottom: 15px;
                font: 400 .87rem/21px 'Inter', sans-serif;
                max-width: 100%;
            }
        }
    }
    .find_form {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 25px;
        align-items: end;
        @media (max-width: 990px) {
            grid-template-columns: 1fr 1fr;
            grid-gap: 15px;
        }
        @media (max-width: 576px) {
            grid-template-columns: 1fr;
        }
        .form_select_box {
            p {
                display: block;
                margin-bottom: 10px;
                font: 700 1rem 'Inter', sans-serif;
            }
            .form_select {
                position: relative;
                &::before {
                    content: url(../img/home/select_arr.svg);
                    position: absolute;
                    pointer-events: none;
                    right: 20px;
                    top: 12px;
                    @media (max-width: 990px) {
                        top: 13px;
                    }
                }
                select {
                    font: 400 1rem 'Inter', sans-serif;
                    background: #E7EAF2;
                    border-radius: 3px;
                    border: none;
                    outline: none;
                    padding: 15px;
                    width: 100%;
                    box-sizing: border-box;
                    appearance: none;
                }
            }
        }
        .form_send {
            cursor: pointer;
            padding: 15px;
            width: 100%;
            box-sizing: border-box;
            background: #6CDA75;
            border-radius: 3px;
            appearance: none;
            border: none;
            color: #fff;
            text-transform: uppercase;
            font: 700 1rem 'Inter', sans-serif;
            text-align: center;
            outline: none;
        }
    }
    .find_img {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 190px;
        @media (max-width: 990px) {
            display: none;
        }
    }
}

.latest_news {
    margin-bottom: 25px;
    .latest_news_title {
        margin-bottom: 25px;
        font: 700 1.5rem 'Inter', sans-serif;
        @media (max-width: 990px) {
            font: 700 1.2rem 'Inter', sans-serif;
        }
    }
    .latest_news_wrap {
        display: grid;
        grid-template-columns: 540px 1fr;
        grid-gap: 15px;
        @media (max-width: 1400px) {
            grid-template-columns: 440px 1fr;
        }
        @media (max-width: 990px) {
            grid-template-columns: 1fr;
        }
        .latest_xl_news {
            display: flex;
            flex-direction: column;
            .xl_news_box {
                background: linear-gradient(103.32deg, #3A3D6B 23.43%, #4D53A2 75.98%);
                border-radius: 10px;
                padding: 20px;
            }
            .xl_news_img {
                display: block;
                position: relative;
                margin-bottom: -30px;
                max-width: 100%;
                height: auto;
                top: -30px;
                @media (max-width: 990px) {
                    max-height: 200px;
                }
            }
            .xl_news_title {
                color: #fff;
                font: 700 1.25rem 'Inter', sans-serif;
                margin-bottom: 5px;
                display: block;
                text-align: left;
                max-width: 80%;
                @media (max-width: 990px) {
                    max-width: 100%;
                    font: 700 1.125rem 'Inter', sans-serif;
                }
                &:hover {
                    color: #FFCF24;
                }
            }
            .xl_news_text {
                color: #fff;
                max-width: 80%;
                font: 400 .95rem/22px 'Inter', sans-serif;
                @media (max-width: 990px) {
                    max-width: 100%;
                    font: 400 .8rem/18px 'Inter', sans-serif;
                }
            }
        }
        .latest_sm_news {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-gap: 15px;
            @media (max-width: 990px) {
                overflow-y: scroll;
                grid-template-columns: 250px 250px 250px 250px;
                grid-template-rows: auto;
                padding-bottom: 10px;
            }
            .sm_news_box {
                position: relative;
                border-radius: 10px;
                overflow: hidden;
                display: flex;
                align-items: flex-start;
                justify-content: flex-end;
                flex-direction: column;
                padding: 15px;
                @media (max-width: 990px) {
                    height: 140px;
                }
                p,
                a {
                    position: relative;
                    z-index: 9;
                }
                .sm_news_title {
                    color: #fff;
                    margin-bottom: 5px;
                    transition: .2s;
                    font: 700 1.2rem 'Inter', sans-serif;
                    @media (max-width: 990px) {
                        font: 700 1.125rem 'Inter', sans-serif;
                    }
                    &:hover {
                        color: #FFCF24;
                    }
                }
                .sm_news_text {
                    color: #fff;
                    font: 400 .95rem/22px 'Inter', sans-serif;
                    @media (max-width: 990px) {
                        font: 400 .8rem/18px 'Inter', sans-serif;
                    }
                }
            }
        }
    }
}

.about {
    background: url(../img/home/about_bg.svg) no-repeat center center/cover;
    background-color: #262845;
    margin-bottom: 25px;
    .container {
        padding: 35px 0;
        @media (max-width: 990px) {
            padding: 25px 0;
        }
    }
    .about_title {
        color: #fff;
        margin-bottom: 25px;
        font: 700 1.5rem 'Inter', sans-serif;
        @media (max-width: 990px) {
            font: 700 1.2rem 'Inter', sans-serif;
        }
    }
    .about_wrap {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 30px;
        align-items: start;
        @media (max-width: 990px) {
            grid-gap: 15px;
        }
        .about_box {
            display: grid;
            grid-template-columns: 230px 1fr;
            grid-gap: 30px;
            @media (max-width: 990px) {
                grid-template-columns: 1fr;
                grid-gap: 10px;
            }
            .about_title_sm {
                font: 700 1.2rem 'Inter', sans-serif;
                color: #fff;
                display: flex;
                align-items: center;
                position: relative;
                top: -8px;
                @media (max-width: 990px) {
                    top: 0;
                    font: 700 1.125rem 'Inter', sans-serif;
                }
                span {
                    margin-right: 20px;
                    height: 32px;
                    background: #42456B;
                    border-radius: 2px;
                    width: 32px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    @media (max-width: 990px) {
                        margin-right: 15px;
                    }
                    img {
                        max-width: 100%;
                        height: auto;
                    }
                }
            }
            .about_text {
                color: #fff;
                font: 400 .95rem/23px 'Inter', sans-serif;
                @media (max-width: 990px) {
                    font: 400 .87rem/20px 'Inter', sans-serif;
                }
            }
        }
    }
}

.description {
    margin-bottom: 15px;
    .description_title {
        margin-bottom: 5px;
        font: 700 1.5rem 'Inter', sans-serif;
        @media (max-width: 990px) {
            font: 700 1.4rem 'Inter', sans-serif;
        }
    }
    .description_title_sm {
        margin-bottom: 5px;
        font: 700 1.2rem 'Inter', sans-serif;
        padding-left: 30px;
        position: relative;
        @media (max-width: 990px) {
            font: 700 1.125rem 'Inter', sans-serif;
        }
        &::after {
            content: url(../img/home/check.svg);
            position: absolute;
            left: 0;
            height: 21px;
            width: 21px;
        }
    }
    .description_text {
        font: 400 .95rem/22px 'Inter', sans-serif;
        margin-bottom: 15px;
        @media (max-width: 990px) {
            font: 400 .87rem/20px 'Inter', sans-serif;
            margin-bottom: 10px;
        }
    }
}

.faq {
    margin-bottom: 25px;
    .faq_title {
        text-align: center;
        margin-bottom: 15px;
        font: 700 1.2rem 'Inter', sans-serif;
    }
    .faq_wrap {
        padding: 5px 20px 5px 20px;
        background: #FFF;
        box-shadow: 0 4px 15px rgba(0, 0, 0, .1);
        border-radius: 5px;
        @media (max-width: 990px) {
            padding: 5px 15px 5px 15px;
        }
        .acc_box {
            border-bottom: 1px solid rgba(0, 0, 0, .2);
            outline: none;
            user-select: none;
            appearance: none;
        }
        .acc_box:last-child {
            border: none;
            padding: 0;
            .acc_body {
                padding-bottom: 0;
            }
        }
    }
    .active_acc {
        .acc_head {
            img {
                transform: rotate(-180deg);
            }
        }
    }
    .acc_head {
        padding: 15px 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 990px) {
            padding: 10px 0;
        }
        p {
            font: 700 1.2rem 'Inter', sans-serif;
            @media (max-width: 990px) {
                font: 700 1.125rem 'Inter', sans-serif;
            }
        }
        img {
            transition: .1s;
        }
    }
    .acc_body {
        display: none;
        padding-bottom: 10px;
        p {
            font: 400 .95rem/22px 'Inter', sans-serif;
            @media (max-width: 990px) {
                font: 400 .87rem/20px 'Inter', sans-serif;
            }
        }
    }
}