.home_section {
    background: #292c98;
    .container {
        padding: 60px 0;
        @media (max-width: 990px) {
            padding: 25px 0;
        }
    }
    .home_section_wrap {
        display: grid;
        position: relative;
        grid-template-columns: 750px 1fr;
        @media (max-width: 990px) {
            display: block;
        }
        .home_img {
            position: absolute;
            max-width: 100%;
            height: auto;
            right: -100px;
            top: -20px;
            @media (max-width: 1400px) {
                right: -200px;
            }
            @media (max-width: 990px) {
                right: -150px;
                top: 0;
                right: -100px;
                max-width: 320px;
                max-height: 220px;
            }
            @media (max-width: 576px) {
                right: -120px;
                max-width: 280px;
                max-height: 180px;
                object-fit: contain;
                right: -100px;
                top: 40px;
            }
            @media (max-width: 340px) {
                right: -100px;
                top: 90px;
                max-width: 240px;
                max-height: 140px;
            }
        }
        .home_info_box {
            z-index: 9;
            position: relative;
        }
        .info_title {
            margin-bottom: 8px;
            color: #fff;
            font: 700 2rem 'Inter', sans-serif;
            @media (max-width: 990px) {
                font: 700 1.4rem 'Inter', sans-serif;
            }
        }
        .info_title_sm {
            margin-bottom: 8px;
            color: #fff;
            font: 700 1.5rem 'Inter', sans-serif;
            @media (max-width: 990px) {
                text-align: center;
                font: 700 1.2rem 'Inter', sans-serif;
            }
        }
        .info_text {
            font: 400 .95rem/24px 'Inter', sans-serif;
            opacity: .9;
            color: #fff;
            margin-bottom: 35px;
            @media (max-width: 990px) {
                font: 400 .87rem/21px 'Inter', sans-serif;
                margin-bottom: 15px;
            }
            br {
                @media (max-width: 990px) {
                    display: none;
                }
            }
        }
        .info_text:last-child {
            margin: 0;
        }
        .hide_text {
            @media (max-width: 990px) {
                height: 100px;
                width: 230px;
                overflow-y: hidden;
            }
        }
        .hide_text_active {
            height: auto;
        }
        .show_more {
            display: none;
            @media (max-width: 990px) {
                display: block;
                color: #55B56B;
                font: 400 .87rem 'Inter', sans-serif;
                opacity: .9;
                margin: 5px 0 10px 0;
            }
            &::after {
                position: relative;
                left: 5px;
                content: url(../img/home/arr_show.svg);
            }
        }
    }
}

.games {
    position: relative;
    top: -35px;
    margin-bottom: -10px;
    @media (max-width: 990px) {
        top: -15px;
        margin-bottom: 10px;
    }
    .games_wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        margin-bottom: 15px;
        @media (max-width: 990px) {
            grid-template-columns: 1fr 1fr 1fr;
        }
        .games_box {
            height: 120px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background: #FFF;
            box-shadow: 0 4px 15px rgba(0, 0, 0, .15);
            border-radius: 5px;
            padding: 5px;
            @media (max-width: 990px) {
                height: 102px;
                padding: 10px 5px;
            }
            img {
                max-width: 100%;
                height: auto;
                min-height: 60px;
                margin-bottom: 10px;
                @media (max-width: 990px) {
                    max-width: 60px;
                    min-height: 70px;
                }
            }
            .games_info {
                text-align: center;
                font: 400 .87rem 'Inter', sans-serif;
                @media (max-width: 990px) {
                    white-space: nowrap;
                    font: 400 .75rem 'Inter', sans-serif;
                }
            }
        }
    }
    .games_text {
        font: 400 .95rem/22px 'Inter', sans-serif;
        @media (max-width: 990px) {
            font: 400 .87rem/20px 'Inter', sans-serif;
        }
    }
}

.raiting {
    margin-bottom: 35px;
    .generate_casino_title {
        text-align: center;
        margin-bottom: 15px;
    }
    .raiting_wrap {
        border-radius: 10px;
        overflow: hidden;
        @media (max-width: 990px) {
            border-radius: 0;
        }
    }
    .raiting_wrap_title {
        display: grid;
        grid-template-columns: 3fr 1fr 2fr 2fr 3fr;
        background: #42456B;
        padding: 0 20px;
        @media (max-width: 1200px) {
            display: none;
        }
        p {
            color: #FFF;
            padding: 10px 0;
            opacity: .5;
            font: 400 1.125rem 'Inter', sans-serif;
        }
    }
    .raiting_container {
        background: #fff;
        padding: 15px 20px;
        @media (max-width: 1200px) {
            background: transparent;
            padding: 0;
        }
        .raiting_item_box {
            display: grid;
            grid-template-columns: 1fr;
            @media (max-width: 1200px) {
                border: none;
                border-radius: 5px;
                background: #fff;
                padding: 15px;
                margin-bottom: 10px;
            }
        }
        .item_short_wrap {
            display: grid;
            align-items: center;
            grid-template-columns: 3fr 1fr 2fr 2fr 3fr;
            margin-bottom: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid rgba(0, 0, 0, .2);
            @media (max-width: 1200px) {
                grid-template-columns: 1fr 1fr 1fr;
                grid-gap: 15px;
                border: none;
                margin: 0;
                padding: 0;
            }
            .hide_title {
                display: none;
                @media (max-width: 1200px) {
                    display: block;
                    color: #000;
                    margin-bottom: 5px;
                    opacity: .5;
                    font: 400 1rem 'Inter', sans-serif;
                }
                @media (max-width: 375px) {
                    font: 400 .95rem 'Inter', sans-serif;
                    white-space: nowrap;
                }
            }
            .item_img_casino {
                display: flex;
                align-items: center;
                @media (max-width: 1200px) {
                    grid-column-start: 1;
                    grid-column-end: 3;
                }
                img {
                    max-width: 100%;
                    height: auto;
                    object-fit: contain;
                    margin-right: 15px;
                    @media (max-width: 375px) {
                        margin-right: 10px;
                        max-width: 90px;
                    }
                    @media (max-width: 340px) {
                        margin-right: 5px;
                        max-width: 80px;
                    }
                }
                .item_img_casino_info {
                    p {
                        color: #000;
                        margin-bottom: 5px;
                        font: 700 1.2rem 'Inter', sans-serif;
                        @media (max-width: 375px) {
                            font: 700 1rem 'Inter', sans-serif;
                            margin: 0;
                        }
                    }
                    a {
                        font: 400 1rem 'Inter', sans-serif;
                        color: #4482CD;
                        @media (max-width: 375px) {
                            font: 700 .9rem 'Inter', sans-serif;
                        }
                    }
                }
            }
            .item_bonus_casino {
                display: flex;
                align-items: center;
                @media (max-width: 1200px) {
                    flex-direction: column;
                    align-items: flex-start;
                }
                .item_bonus_casino_sm {
                    display: flex;
                    align-items: center;
                    p {
                        margin-right: 7px;
                        color: #FFCF24;
                        font: 700 1.6rem 'Inter', sans-serif;
                        @media (max-width: 375px) {
                            font: 700 1.25rem 'Inter', sans-serif;
                            margin-right: 5px;
                        }
                    }
                }
            }
            .item_features_casino {
                @media (max-width: 1200px) {
                    grid-column-start: 1;
                    grid-column-end: 3;
                    grid-row-start: 2;
                }
                p {
                    font: 400 .95rem 'Inter', sans-serif;
                    color: #111111;
                    max-width: 140px;
                    @media (max-width: 375px) {
                        font: 400 .87rem 'Inter', sans-serif;
                    }
                }
            }
            .item_live_casino {
                @media (max-width: 1200px) {
                    grid-column-start: 3;
                    grid-column-end: 4;
                    grid-row-start: 1;
                }
                .item_live_casino_text {
                    text-transform: uppercase;
                    font: 700 1.6rem 'Inter', sans-serif;
                    color: #111111;
                    @media (max-width: 375px) {
                        font: 700 1.25rem 'Inter', sans-serif;
                    }
                }
            }
            .item_btn_casino {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 10px;
                @media (max-width: 1200px) {
                    grid-column-start: 1;
                    grid-column-end: 4;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                @media (max-width: 576px) {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-gap: 10px;
                }
                @media (max-width: 340px) {
                    grid-template-columns: 1fr;
                }
                .call_hide_item {
                    text-align: center;
                    text-transform: uppercase;
                    font: 700 1rem 'Inter', sans-serif;
                    padding: 10px 20px;
                    color: #4F4F4F;
                    border-radius: 3px;
                    white-space: nowrap;
                    box-shadow: 0 4px 15px rgba(0, 0, 0, .1);
                    @media (max-width: 375px) {
                        padding: 8px 12px;
                        font: 700 .95rem 'Inter', sans-serif;
                    }
                    img {
                        position: relative;
                        left: 4px;
                        max-width: 100%;
                        height: auto;
                        top: 1px;
                    }
                }
                .active_link {
                    img {
                        transform: rotate(180deg);
                    }
                }
                .link_item {
                    text-align: center;
                    text-transform: uppercase;
                    font: 700 1rem 'Inter', sans-serif;
                    padding: 10px 20px;
                    background: #6CDA75;
                    border-radius: 3px;
                    color: #fff;
                    white-space: nowrap;
                    @media (max-width: 375px) {
                        padding: 8px 12px;
                        border: none;
                        font: 700 .95rem 'Inter', sans-serif;
                    }
                }
            }
        }
        .raiting_item_box:last-child {
            .item_short_wrap {
                border: none;
                margin: 0;
                padding-bottom: 0;
            }
        }
    }
    .raiting_btn_wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
        margin-top: 15px;
        @media (max-width: 990px) {
            display: flex;
            margin-top: 10px;
            align-items: center;
            justify-content: space-between;
        }
        a {
            font: 700 1rem 'Inter', sans-serif;
            color: #4482CD;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 15px 25px;
            @media (max-width: 576px) {
                padding: 15px;
                font: 700 .87rem 'Inter', sans-serif;
            }
            img {
                margin-left: 5px;
            }
        }
        .show_more {
            grid-column-start: 2;
            margin: 0 auto;
            border-radius: 3px;
            background: #ECF1FF;
            @media (max-width: 990px) {
                margin-left: 0;
            }
            img {
                position: relative;
                top: 1px;
            }
        }
        .view_all {
            padding-right: 0;
            margin: 0 auto;
            margin-right: 0;
            grid-column-start: 3;
            img {
                position: relative;
                top: 1px;
            }
        }
    }
    .item_hide_wrap {
        margin-top: 10px;
        display: none;
        margin-bottom: 20px;
        @media (max-width: 1200px) {
            margin-bottom: 0;
        }
    }
    .hide_btn_wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        .hide_btn {
            padding: 10px 20px;
            border: 2px solid #4482CD;
            box-sizing: border-box;
            border-radius: 3px;
            color: #4482CD;
            text-align: center;
            margin: 0 auto;
            font: 700 1.125rem 'Inter', sans-serif;
        }
    }
    .hide_container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 40px;
        margin-bottom: 10px;
        @media (max-width: 1200px) {
            grid-template-columns: 1fr;
            margin-top: 10px;
            grid-gap: 10px;
        }
        .item_hide_title {
            margin-bottom: 10px;
            font: 700 1.125rem 'Inter', sans-serif;
        }
        .item_hide_text {
            font: 400 .95rem/22px 'Inter', sans-serif;
        }
        .item_hide_list {
            padding: 0 20px;
            border-left: 1px solid rgba(0, 0, 0, .2);
            border-right: 1px solid rgba(0, 0, 0, .2);
            @media (max-width: 1200px) {
                border: none;
                padding: 15px 0;
                border-top: 1px solid rgba(0, 0, 0, .2);
                border-bottom: 1px solid rgba(0, 0, 0, .2);
            }
            ul {
                display: grid;
                grid-template-columns: 1fr;
                grid-gap: 12px;
                li {
                    padding-left: 30px;
                    position: relative;
                    font: 400 .95rem 'Inter', sans-serif;
                }
                .minus {
                    &::before {
                        content: '+';
                        height: 21px;
                        width: 21px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: #fff;
                        position: absolute;
                        left: 0;
                        background: #FF4B55;
                        top: -2px;
                        border-radius: 50%;
                        font: 700 1rem 'Inter', sans-serif;
                    }
                }
                .plus {
                    &::before {
                        content: '-';
                        height: 21px;
                        width: 21px;
                        display: flex;
                        border-radius: 50%;
                        background: #6CDA75;
                        align-items: center;
                        justify-content: center;
                        color: #fff;
                        position: absolute;
                        left: 0;
                        top: -2px;
                        font: 700 1rem 'Inter', sans-serif;
                    }
                }
            }
        }
        .quick_box {
            display: grid;
            grid-gap: 10px;
            grid-template-columns: 140px 1fr;
            margin-bottom: 12px;
            align-items: center;
            .quick_title {
                font: 400 .95rem 'Inter', sans-serif;
                color: rgba(0, 0, 0, .3);
            }
            .quick_item {
                font: 400 .95rem 'Inter', sans-serif;
            }
            a {
                color: #4482CD;
            }
            .sup {
                text-overflow: ellipsis;
                width: 160px;
                overflow: hidden;
                color: #000;
                text-decoration: underline;
            }
        }
    }
}

.generate_casino {
    margin-bottom: 45px;
    .generate_casino_title {
        font: 700 1.5rem 'Inter', sans-serif;
        text-align: center;
        margin-bottom: 5px;
        @media (max-width: 990px) {
            font: 700 1.25rem 'Inter', sans-serif;
        }
    }
    .generate_casino_text {
        text-align: center;
        max-width: 720px;
        margin: 0 auto;
        margin-bottom: 15px;
        font: 400 .95rem/22px 'Inter', sans-serif;
        @media (max-width: 990px) {
            font: 400 .87rem/20px 'Inter', sans-serif;
        }
    }
    .tabs__caption {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        @media (max-width: 768px) {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 5px;
            margin-bottom: 15px;
        }
        li {
            color: #000000;
            opacity: .7;
            font: 400 1.2rem 'Inter', sans-serif;
            padding: 8px 12px;
            cursor: pointer;
            text-align: center;
            margin: 0 15px;
            @media (max-width: 768px) {
                margin: 0;
                font: 400 1rem 'Inter', sans-serif;
            }
        }
        .active {
            color: #4482CD;
            background: #ECF1FF;
            border-radius: 3px;
        }
    }
    .swiper-container {
        margin: 0 40px;
        padding: 12px;
        @media (max-width: 990px) {
            margin: 0;
            padding: 0 10px 30px 10px;
        }
        .generate_casino_box {
            max-width: 140px;
            margin: 0 auto;
            @media (max-width: 1200px) {
                max-width: auto;
            }
        }
    }
    .generate_casino_slider {
        position: relative;
        .left_slider {
            height: 33px;
            cursor: pointer;
            width: 33px;
            outline: none;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #fff;
            opacity: 1;
            box-shadow: 0 4px 15px rgba(0, 0, 0, .1);
            border-radius: 3px;
            position: absolute;
            left: 0;
            top: 42%;
            @media (max-width: 990px) {
                opacity: 0;
            }
        }
        .right_slider {
            height: 33px;
            cursor: pointer;
            width: 33px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #fff;
            opacity: 1;
            box-shadow: 0 4px 15px rgba(0, 0, 0, .1);
            border-radius: 3px;
            position: absolute;
            right: 0;
            top: 42%;
            outline: none;
            @media (max-width: 990px) {
                opacity: 0;
            }
        }
    }
    .swiper-button-next:after,
    .swiper-button-prev:after {
        display: none;
    }
    .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
        outline: none;
    }
    .swiper-pagination {
        opacity: 0;
        bottom: 0;
        @media (max-width: 990px) {
            opacity: 1;
            bottom: -2px;
            z-index: 999;
        }
    }
    .generate_casino_wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        @media (max-width: 1200px) {
            padding-bottom: 10px;
            overflow-y: scroll;
            grid-template-columns: 180px 180px 180px 180px 180px 180px;
        }
    }
    .generate_casino_box {
        padding: 10px 15px;
        background: #FFF;
        box-shadow: 0 4px 15px rgba(0, 0, 0, .1);
        border-radius: 5px;
        .generate_casino_img {
            background: #1085D3;
            border-radius: 5px;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;
            img {
                object-fit: contain;
                max-width: 100%;
                height: auto;
            }
        }
        .generate_brend_img {
            background: #1085D3;
            border-radius: 5px;
            padding: 20px;
            display: flex;
            height: 85px;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;
            img {
                object-fit: contain;
                max-width: 100%;
                height: auto;
            }
        }
        .generate_casino_title {
            font: 400 .95rem 'Inter', sans-serif;
            margin-bottom: 5px;
        }
        .generate_casino_bonus {
            color: #6CDA75;
            text-align: center;
            margin-bottom: 7px;
            font: 700 .87rem/20px 'Inter', sans-serif;
        }
        .generate_casino_info {
            color: #000;
            opacity: .5;
            cursor: pointer;
            text-align: center;
            font: 400 .75rem 'Inter', sans-serif;
            text-align: center;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover {
                color: #0185FF;
            }
        }
        .generate_casino_btn {
            text-transform: uppercase;
            background: #4482CD;
            border-radius: 3px;
            padding: 10px;
            width: 100%;
            display: block;
            color: #fff;
            font: 700 1rem'Inter', sans-serif;
            box-sizing: border-box;
            text-align: center;
            margin-bottom: 5px;
            transition: .2s;
            &:hover {
                background: #396EAF;
            }
        }
    }
}

.find {
    background: #F0F3FC;
    margin-bottom: 35px;
    @media (max-width: 990px) {
        margin-bottom: 30px;
    }
    .container {
        padding: 30px 0;
        @media (max-width: 990px) {
            padding: 20px 0;
        }
    }
    .find_wrap {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-gap: 40px;
        padding: 0 50px;
        @media (max-width: 990px) {
            display: block;
            padding: 0;
        }
    }
    .find_box {
        .find_title {
            margin-bottom: 5px;
            font: 700 1.25rem 'Inter', sans-serif;
            @media (max-width: 990px) {
                text-align: center;
            }
        }
        .find_text {
            font: 400 .95rem/22px 'Inter', sans-serif;
            margin-bottom: 20px;
            max-width: 80%;
            @media (max-width: 990px) {
                text-align: center;
                margin-bottom: 15px;
                font: 400 .87rem/21px 'Inter', sans-serif;
                max-width: 100%;
            }
        }
    }
    .find_form {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 25px;
        align-items: end;
        @media (max-width: 990px) {
            grid-template-columns: 1fr 1fr;
            grid-gap: 15px;
        }
        @media (max-width: 576px) {
            grid-template-columns: 1fr;
        }
        .form_select_box {
            p {
                display: block;
                margin-bottom: 10px;
                font: 700 1rem 'Inter', sans-serif;
            }
            .form_select {
                position: relative;
                &::before {
                    content: url(../img/home/select_arr.svg);
                    position: absolute;
                    pointer-events: none;
                    right: 20px;
                    top: 12px;
                    @media (max-width: 990px) {
                        top: 13px;
                    }
                }
                select {
                    font: 400 1rem 'Inter', sans-serif;
                    background: #E7EAF2;
                    border-radius: 3px;
                    border: none;
                    outline: none;
                    padding: 15px;
                    width: 100%;
                    box-sizing: border-box;
                    appearance: none;
                }
            }
        }
        .form_send {
            cursor: pointer;
            padding: 15px;
            width: 100%;
            box-sizing: border-box;
            background: #6CDA75;
            border-radius: 3px;
            appearance: none;
            border: none;
            color: #fff;
            text-transform: uppercase;
            font: 700 1rem 'Inter', sans-serif;
            text-align: center;
            outline: none;
        }
    }
    .find_img {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 190px;
        @media (max-width: 990px) {
            display: none;
        }
    }
}

.latest_news {
    margin-bottom: 25px;
    .latest_news_title {
        margin-bottom: 25px;
        font: 700 1.5rem 'Inter', sans-serif;
        @media (max-width: 990px) {
            font: 700 1.2rem 'Inter', sans-serif;
        }
    }
    .latest_news_wrap {
        display: grid;
        grid-template-columns: 540px 1fr;
        grid-gap: 15px;
        @media (max-width: 1400px) {
            grid-template-columns: 440px 1fr;
        }
        @media (max-width: 990px) {
            grid-template-columns: 1fr;
        }
        .latest_xl_news {
            display: flex;
            flex-direction: column;
            .xl_news_box {
                background: linear-gradient(103.32deg, #3A3D6B 23.43%, #4D53A2 75.98%);
                border-radius: 10px;
                padding: 20px;
            }
            .xl_news_img {
                display: block;
                position: relative;
                margin-bottom: -30px;
                max-width: 100%;
                height: auto;
                top: -30px;
                @media (max-width: 990px) {
                    max-height: 200px;
                }
            }
            .xl_news_title {
                color: #fff;
                font: 700 1.25rem 'Inter', sans-serif;
                margin-bottom: 5px;
                display: block;
                text-align: left;
                max-width: 80%;
                @media (max-width: 990px) {
                    max-width: 100%;
                    font: 700 1.125rem 'Inter', sans-serif;
                }
                &:hover {
                    color: #FFCF24;
                }
            }
            .xl_news_text {
                color: #fff;
                max-width: 80%;
                font: 400 .95rem/22px 'Inter', sans-serif;
                @media (max-width: 990px) {
                    max-width: 100%;
                    font: 400 .8rem/18px 'Inter', sans-serif;
                }
            }
        }
        .latest_sm_news {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-gap: 15px;
            @media (max-width: 990px) {
                overflow-y: scroll;
                grid-template-columns: 250px 250px 250px 250px;
                grid-template-rows: auto;
                padding-bottom: 10px;
            }
            .sm_news_box {
                position: relative;
                border-radius: 10px;
                overflow: hidden;
                display: flex;
                align-items: flex-start;
                justify-content: flex-end;
                flex-direction: column;
                padding: 15px;
                @media (max-width: 990px) {
                    height: 140px;
                }
                p,
                a {
                    position: relative;
                    z-index: 9;
                }
                .sm_news_title {
                    color: #fff;
                    margin-bottom: 5px;
                    transition: .2s;
                    font: 700 1.2rem 'Inter', sans-serif;
                    @media (max-width: 990px) {
                        font: 700 1.125rem 'Inter', sans-serif;
                    }
                    &:hover {
                        color: #FFCF24;
                    }
                }
                .sm_news_text {
                    color: #fff;
                    font: 400 .95rem/22px 'Inter', sans-serif;
                    @media (max-width: 990px) {
                        font: 400 .8rem/18px 'Inter', sans-serif;
                    }
                }
            }
        }
    }
}

.about {
    background: url(../img/home/about_bg.svg) no-repeat center center/cover;
    background-color: #262845;
    margin-bottom: 25px;
    .container {
        padding: 35px 0;
        @media (max-width: 990px) {
            padding: 25px 0;
        }
    }
    .about_title {
        color: #fff;
        margin-bottom: 25px;
        font: 700 1.5rem 'Inter', sans-serif;
        @media (max-width: 990px) {
            font: 700 1.2rem 'Inter', sans-serif;
        }
    }
    .about_wrap {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 30px;
        align-items: start;
        @media (max-width: 990px) {
            grid-gap: 15px;
        }
        .about_box {
            display: grid;
            grid-template-columns: 230px 1fr;
            grid-gap: 30px;
            @media (max-width: 990px) {
                grid-template-columns: 1fr;
                grid-gap: 10px;
            }
            .about_title_sm {
                font: 700 1.2rem 'Inter', sans-serif;
                color: #fff;
                display: flex;
                align-items: center;
                position: relative;
                top: -8px;
                @media (max-width: 990px) {
                    top: 0;
                    font: 700 1.125rem 'Inter', sans-serif;
                }
                span {
                    margin-right: 20px;
                    height: 32px;
                    background: #42456B;
                    border-radius: 2px;
                    width: 32px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    @media (max-width: 990px) {
                        margin-right: 15px;
                    }
                    img {
                        max-width: 100%;
                        height: auto;
                    }
                }
            }
            .about_text {
                color: #fff;
                font: 400 .95rem/23px 'Inter', sans-serif;
                @media (max-width: 990px) {
                    font: 400 .87rem/20px 'Inter', sans-serif;
                }
            }
        }
    }
}

.description {
    margin-bottom: 15px;
    .description_title {
        margin-bottom: 5px;
        font: 700 1.5rem 'Inter', sans-serif;
        @media (max-width: 990px) {
            font: 700 1.4rem 'Inter', sans-serif;
        }
    }
    .description_title_sm {
        margin-bottom: 5px;
        font: 700 1.2rem 'Inter', sans-serif;
        padding-left: 30px;
        position: relative;
        @media (max-width: 990px) {
            font: 700 1.125rem 'Inter', sans-serif;
        }
        &::after {
            content: url(../img/home/check.svg);
            position: absolute;
            left: 0;
            height: 21px;
            width: 21px;
        }
    }
    .description_text {
        font: 400 .95rem/22px 'Inter', sans-serif;
        margin-bottom: 15px;
        @media (max-width: 990px) {
            font: 400 .87rem/20px 'Inter', sans-serif;
            margin-bottom: 10px;
        }
    }
}

.faq {
    margin-bottom: 25px;
    .faq_title {
        text-align: center;
        margin-bottom: 15px;
        font: 700 1.2rem 'Inter', sans-serif;
    }
    .faq_wrap {
        padding: 5px 20px 5px 20px;
        background: #FFF;
        box-shadow: 0 4px 15px rgba(0, 0, 0, .1);
        border-radius: 5px;
        @media (max-width: 990px) {
            padding: 5px 15px 5px 15px;
        }
        .acc_box {
            border-bottom: 1px solid rgba(0, 0, 0, .2);
            outline: none;
            user-select: none;
            appearance: none;
        }
        .acc_box:last-child {
            border: none;
            padding: 0;
            .acc_body {
                padding-bottom: 0;
            }
        }
    }
    .active_acc {
        .acc_head {
            img {
                transform: rotate(-180deg);
            }
        }
    }
    .acc_head {
        padding: 15px 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 990px) {
            padding: 10px 0;
        }
        p {
            font: 700 1.2rem 'Inter', sans-serif;
            @media (max-width: 990px) {
                font: 700 1.125rem 'Inter', sans-serif;
            }
        }
        img {
            transition: .1s;
        }
    }
    .acc_body {
        display: none;
        padding-bottom: 10px;
        p {
            font: 400 .95rem/22px 'Inter', sans-serif;
            @media (max-width: 990px) {
                font: 400 .87rem/20px 'Inter', sans-serif;
            }
        }
    }
}